@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
html{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
}

/* index page */

.hovergray:hover{
    background-color: rgb(43, 43, 43);
}

.background{
    background-image: url('https://raw.githubusercontent.com/letterpaulsand/classroom-react/master/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 2.5rem);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}

.indexcontainer{
    padding: 2rem;
    animation-name: move;
    animation-duration: 1s;
}

.backgroundcontainer{
    height: calc(100vh - 2.5rem);
}

.indexdes{
    color: rgba(255, 255, 255, 0.445);
}

a{
    text-decoration: none;
}
@keyframes move {
    from{
        color: rgba(255, 255, 255, 0);
        padding: 3rem;
    }

    to{
        color: white;
        padding: 2rem;

    }
}

/*editor*/


input{
    height: 2rem;
    outline: 0;
    border: 1px solid black;
}

textarea{
    height: 10rem;
    width: 50%;
    resize: none;
    outline: none;
}


/*setting*/

.setting-container{
    height: calc(100vh - 2.5rem);
}

.setting-container div{
    width: 20rem;
}


/*about*/

.about{
    background-image: url('../img/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 2.5rem);
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
}


/*look*/

.lookContainer{
    min-height: calc(100vh - 2.5rem);

}

.item{
    list-style-type: decimal;
}